.env
.env
.env-frontend
sophus.yaml
frontend/frontend.yaml

.idea/
builds/

*.iml
*.zip
*.mod
*.sum
*.exe
*.templ
*_templ.go
!web/flowbuilder.templ
!web/flowbuilder_templ.go
!web/message-single.templ
!web/message-single_templ.go
!web/base.templ
!web/base_templ.go
!web/messages.templ
!web/messages_templ.go
!web/departments.templ
!web/departments_templ.go
!web/saas.templ
!web/saas_templ.go
!web/agents.templ
!web/agents_templ.go
!web/billing.templ
!web/billing_templ.go
!web/settings.templ
!web/settings_templ.go
!web/company.templ
!web/company_templ.go
!web/admin_controls.templ
!web/admin_controls_templ.go
!web/components/message.templ
!web/components/message_templ.go
